<div class="flex-horizontal" *ngIf="resume">
  <div class="flex-item">
    <div class="flex-vertical">
      <button class="flex-item nav" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex-item fill">
    <div class="flex-vertical">
      <div class="flex-item title">{{resume.name}}</div>
      <div class="flex-item subtitle">{{resume.title}}</div>
      <div class="flex-item main-content">
        <router-outlet></router-outlet>
      </div>
      <div class="flex-item fill"></div>
      <div class="flex-item footer">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-item">
    <div class="flex-vertical">
      <button class="flex-item nav" mat-raised-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
