<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading" [class.is-mobile]="isPhoneScreen()" [ngClass]="activeTheme">
  <mat-toolbar color="primary" class="toolbar">
    <button #sidenavMenuButton mat-icon-button (click)="sidenav.toggle()">
      <!-- menu -->
      <mat-icon>&#xE5D2;</mat-icon>
    </button>

    <button mat-button (click)="navigateHome()">{{resume.name}}</button>
    <span class="mat-body-1" *ngIf="isTabletOrLargerScreen()">{{resume.title}}</span>

    <span class="spacer"></span>

    <mat-menu #themeMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="updateTheme('')">
          <!-- brightness_1 -->
          <mat-icon class="c-default">&#xE3A6;</mat-icon> Default
        </button>
        <button mat-menu-item (click)="updateTheme('deep-purple-amber-theme')">
          <!-- brightness_1 -->
          <mat-icon class="c-deep-purple">&#xE3A6;</mat-icon> Deep Purple
        </button>
        <button mat-menu-item (click)="updateTheme('indigo-pink-theme')">
          <!-- brightness_1 -->
          <mat-icon class="c-indigo">&#xE3A6;</mat-icon> Indigo
        </button>
        <button mat-menu-item (click)="updateTheme('pink-blue-grey-theme')">
          <!-- brightness_1 -->
          <mat-icon class="c-pink">&#xE3A6;</mat-icon> Pink
        </button>
        <button mat-menu-item (click)="updateTheme('purple-green-theme')">
          <!-- brightness_1 -->
          <mat-icon class="c-purple">&#xE3A6;</mat-icon> Purple
        </button>
      </ng-template>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <!-- colorize -->
      <mat-icon>&#xE3B8;</mat-icon>
    </button>

    <!-- Mobile Buttons -->
    <button mat-icon-button (click)="openGitHub()" *ngIf="isPortraitPhoneScreen()">
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <button mat-icon-button (click)="openLinkedIn()" *ngIf="isPortraitPhoneScreen()">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </button>
    <!-- Mobile Buttons -->

    <!-- Standard Buttons -->
    <button mat-button (click)="openGitHub()" *ngIf="isLandscapePhoneOrLargerScreen()">
      <mat-icon svgIcon="github" class="button-icon"></mat-icon> Github
    </button>
    <button mat-button (click)="openLinkedIn()" *ngIf="isLandscapePhoneOrLargerScreen()">
      <mat-icon svgIcon="linkedin" class="button-icon"></mat-icon> LinkedIn
    </button>
    <!-- Standard Buttons -->
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="isPhoneScreen() ? 56 : 0">
    <mat-sidenav #sidenav [mode]="isPhoneScreen() ? 'over' : 'side'" [fixedInViewport]="isPhoneScreen()"
      fixedTopGap="56" [opened]="isTabletOrLargerScreen()" class="mat-elevation-z8">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/about']" (click)="closeSidenavForSmallScreens()">
          <!-- info_outline -->
          <mat-icon mat-list-icon [color]="aboutColor">&#xE88F;</mat-icon>
          <p>{{resume.about.title}}</p>
        </a>
        <a mat-list-item [routerLink]="['/skills']" (click)="closeSidenavForSmallScreens()">
          <!-- computer -->
          <mat-icon mat-list-icon [color]="skillsColor">&#xE30A;</mat-icon>
          <p>{{resume.skills.title}}</p>
        </a>
        <a mat-list-item [routerLink]="['/experience']" (click)="closeSidenavForSmallScreens()">
          <!-- group -->
          <mat-icon mat-list-icon [color]="experienceColor">&#xE7EF;</mat-icon>
          <p>{{resume.experience.title}}</p>
        </a>
        <a mat-list-item [routerLink]="['/education']" (click)="closeSidenavForSmallScreens()">
          <!-- school -->
          <mat-icon mat-list-icon [color]="educationColor">&#xE80C;</mat-icon>
          <p>{{resume.education.title}}</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
