<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" [class.is-mobile]="isMobileScreen()" *ngIf="!loading">
  <mat-toolbar color="primary" class="toolbar">
    <button #sidenavMenuButton mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="!isMobileScreen()">{{resume.name}}&nbsp;|&nbsp;{{resume.title}}</span>
    <button mat-button *ngIf="isMobileScreen()" (click)="navigateHome()">{{resume.name}}</button>
    <span class="spacer"></span>

    <button mat-icon-button (click)="navigateHome()" *ngIf="!isMobileScreen()" matTooltip="Return to home page">
      <mat-icon>home</mat-icon>
    </button>

    <!-- Standard Buttons -->
    <button mat-button (click)="openGitHub()" *ngIf="!isMobileScreen()">
      <mat-icon svgIcon="github" class="button-icon"></mat-icon> Github
    </button>
    <button mat-button (click)="openLinkedIn()" *ngIf="!isMobileScreen()">
      <mat-icon svgIcon="linkedin" class="button-icon"></mat-icon> LinkedIn
    </button>
    <!-- Standard Buttons -->

    <!-- Mobile Buttons -->
    <button mat-icon-button (click)="openGitHub()" *ngIf="isMobileScreen()">
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <button mat-icon-button (click)="openLinkedIn()" *ngIf="isMobileScreen()">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </button>
    <!-- Mobile Buttons -->
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container mat-elevation-z10" [style.marginTop.px]="isMobileScreen() ? 56 : 0">
    <mat-sidenav #sidenav [mode]="isMobileScreen() ? 'over' : 'side'" [fixedInViewport]="isMobileScreen()"
      fixedTopGap="56" [opened]="!isMobileScreen()">
      <mat-nav-list>
        <a mat-list-item routerLink="about">
          <mat-icon mat-list-icon>info_outline</mat-icon>
          <p>{{resume.about.title}}</p>
        </a>
        <a mat-list-item routerLink="skills">
          <mat-icon mat-list-icon>computer</mat-icon>
          <p>{{resume.skills.title}}</p>
        </a>
        <a mat-list-item routerLink="experience">
          <mat-icon mat-list-icon>group</mat-icon>
          <p>{{resume.experience.title}}</p>
        </a>
        <a mat-list-item routerLink="education">
          <mat-icon mat-list-icon>school</mat-icon>
          <p>{{resume.education.title}}</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content mat-typography">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
