<mat-card class="mat-elevation-z6">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="position-icon" color="primary">person_pin</mat-icon>
    </div>
    <mat-card-title>{{position.title}}</mat-card-title>
    <mat-card-subtitle>{{position.duration}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let section of position.sections">
      <h4>{{section.title}}</h4>
      <ul>
        <li *ngFor="let value of section.values">{{value}}</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
