@import '../../../styles.scss';

.position-icon {
  @include md-icon-size(36px);
}

ul {
  list-style: square;
  font-size: 1.2rem;
}

ul > li:first-child {
  margin-top: 0.3rem;
}

ul > li:last-child {
  margin-bottom: 1rem;
}

li {
  font-size: 1.1rem;
}
