@import '../../../styles.scss';

.position-icon {
  @include md-icon-size(36px);
}

li {
  list-style: circle;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

mat-card.is-mobile {
  padding: 16px 8px;
}

.is-mobile ul {
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
  -o-padding-start: 20px;
}
