a.anchorjs-link:hover {
  text-decoration: none;
}

.nav {
  flex-wrap: nowrap;
}

.icon-link:hover {
  text-decoration: none;
}

.fa-circle-notch-centered {
  width: 9rem;
  height: 9rem;
  font-size: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -4.5rem;
  z-index: -1;
}

#about > .fa-user,
#skills > .fa-puzzle-piece,
#experience > .fa-briefcase,
#education > .fa-graduation-cap {
  margin-right: 8px;
}
