<div class="spinner" *ngIf="!education">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="education" [class.mat-elevation-z0]="isPhoneScreen()">
  <mat-card-title>
    <h1 class="mat-headline">{{education.title}}</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="{{education.undergraduate.title}}">
        <mat-card *ngFor="let program of education.undergraduate.programs">
          <mat-card-header>
            <div mat-card-avatar>
              <!-- location_city -->
              <mat-icon class="undergrad-icon" color="primary">&#xE7F1;</mat-icon>
            </div>
            <mat-card-title>{{program.title}}</mat-card-title>
            <mat-card-subtitle>{{program.class.value}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="flex-horizontal">
              <div class="flex-item degree">
                <p class="mat-body-2">{{program.degree.title}}</p>
                <p class="mat-body-1">{{program.degree.value}}</p>
              </div>
              <div class="flex-item major">
                <p class="mat-body-2">{{program.major.title}}</p>
                <p class="mat-body-1">{{program.major.value}}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="{{education.pluralsight.title}}">
        <mat-nav-list>
          <a mat-list-item [href]="course.link" target="_blank" *ngFor="let course of education.pluralsight.courses">
            <!-- open_in_new -->
            <mat-icon mat-list-icon color="accent">&#xE89E;</mat-icon>
            <h4 mat-line>{{course.title}}</h4>
            <p mat-line>{{course.author}}</p>
          </a>
        </mat-nav-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
