<div class="spinner" *ngIf="!skills">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="skills">
  <mat-card-title>
    <h2>{{skills.title}}</h2>
  </mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let section of skills.sections">
        <mat-expansion-panel-header>
          <mat-panel-title>{{section.title}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list>
          <mat-chip color="primary" selected="true" *ngFor="let value of section.values">{{value}}</mat-chip>
        </mat-chip-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
