$position-margin: 0.5rem;

.description {
  margin: 16px;
}

.contact-info {
  margin: 16px;
}

.positions {
  margin: $position-margin;
}

.is-mobile {
  margin: 0 0 $position-margin 0 !important;
}
