@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Arial, sans-serif;
}

.spinner {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.flex-horizontal {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .flex-item {
    flex: 0 1 auto;

    &.flex-fill {
      flex: 2 100%;
    }
  }
}

.flex-vertical {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .flex-item {
    flex: 0 1 auto;

    &.flex-fill {
      flex: 2 100%;
    }
  }
}
