<mat-card [class.is-mobile]="isPhoneScreen()" [class.mat-elevation-z1]="isPhoneScreen()"
  [class.mat-elevation-z6]="isTabletOrLargerScreen()">
  <mat-card-header>
    <div mat-card-avatar>
      <!-- person_pin -->
      <mat-icon class="position-icon" color="primary">&#xE55A;</mat-icon>
    </div>
    <mat-card-title>{{position.title}}</mat-card-title>
    <mat-card-subtitle>{{position.duration}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let accomplishment of position.accomplishments">{{accomplishment.statement}}</li>
    </ul>
  </mat-card-content>
</mat-card>
