<div class="spinner" *ngIf="!experience">
  <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="experience">
  <mat-card-title>
    <h1 class="mat-headline">{{experience.title}}</h1>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab *ngFor="let history of experience.history" label="{{history.company}}">
        <div class="contact-info">
          <jpr-contact [contact]="history.contact"></jpr-contact>
        </div>
        <div class="positions" *ngFor="let position of history.positions">
          <jpr-position [position]="position"></jpr-position>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
